<% include ./partials/header %>

<div class="row">
	<div class="col-md-4">
		<img class="img-thumbnail" src="https://u.o0bc.com/avatars/stock/_no-user-image.gif" alt="default_profile">
	</div>
	<div class="col-md-8">
		<div class="container">
			<h1><%= profile.name %></h1>
 		 	<p>Email: <%= profile.email %></p>
 		 	<p>Date Joined: <%= profile.join_date %></p>
		</div>
		<div>
			<h1>Reviews</h1>
			<div>
				<% reviews.forEach(function(review) { %>
					<div>
						<h4>album name</h4>
						<p><%= review.created_at %></p>
						<p><%= review.comments %> <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></p></a> 
					</div>
				<% }) %>
			</div>
		</div>
	</div>

</div>

<% include ./partials/footer %>
